repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: debug-statements
    - id: name-tests-test
    - id: requirements-txt-fixer

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        args:
          - --py313-plus

-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.6
    hooks:
    - id: ruff
    - id: ruff-format
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    -   id: mypy
        language: system
-   repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    -   id: bandit
        args: [--exclude, tests]
-   repo: local
    hooks:
    -   id: radon-check
        name: radon complexity check
        entry: python check_radon.py
        language: system
        pass_filenames: false

    -   id: pytest
        name: run pytest tests
        entry: pytest
        language: system
        pass_filenames: false
